.messenger {
    display: flex;
    flex-direction: column;
    .header {
        line-height: $header-height;
        display: flex;
        height: $header-height;
        background: $header-background-color;
        border-bottom: 2px solid $border-color;
        color: $header-font-color;
        position: relative;
        .left {
            width: $left-sidebar-width;
            position: relative;
            button {
                outline: none;
                background: none;
                border: none;
                color: #ffffff;
                height: $header-height;
                font-size: 1.5rem;
            }
            .left-action,
            .right-action {
                position: absolute;
                top: 2px;
            }
            .left-action {
                left: 0;
            }
            .right-action {
                right: 0;
            }
            .actions {
                padding: 0 10px;
                text-align: center;
            }
        }
        .content {
            flex-grow: 1;
            .toolbar {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding: 0 10px;
                span {
                    display: inline-block;
                    margin: 10px 5px;
                    height: 30px;
                    padding: 0 10px;
                    line-height: 30px;
                    border-radius: 8px;
                    background: $primary-color;
                    cursor: pointer;
                }
            }
            h2 {
                margin: 0;
                text-align: center;
            }
            input {
                height: 2rem;
                margin-top: 9px;
            }
            .search-user {
                position: relative;
                z-index: 2;
                background: #fff;
                line-height: 50px;
                .name {
                    color: $body-font-color;
                }
                .user {
                    display: flex
                }
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-top: 10px;
                    margin-right: 10px;
                }
            }
        }
        .right {
            width: $right-sidebar-width;
            .user-bar {
                display: flex;
                padding: 0 10px;
                .app-warning-state {
                    font-size: 10px;
                    padding: 0 10px;
                    color: $danger-color;
                }
                .name {
                    padding-right: 10px;
                }
                .user-info {
                    display: flex;
                }
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-top: 10px;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                button {
                    border: 0;
                    background: $primary-color;
                    color: inherit;
                    padding: 0 20px;
                    line-height: 30px;
                    height: 30px;
                    margin: 10px 10px;
                    border-radius: 15px;
                    outline: none;
                }
                .user-form {
                    color: $body-font-color;
                    width: 350px;
                    line-height: 30px;
                    position: absolute;
                    top: 50px;
                    right: 0px;
                    padding: 0 25px;
                    background: #fff;
                    border: 2px solid $danger-color;
                    border-radius: 8px;
                    .form-item {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;
                        input {
                            height: 30px;
                            width: 200px;
                        }
                    }
                    .form-actions {
                        display: flex;
                        justify-content: center
                    }
                    button {
                        color: #fff;
                        padding: 0 10px;
                        margin: 20px 5px;
                    }
                    p {
                        color: $danger-color;
                    }
                    .space {
                        height: 30px;
                        width: 100%;
                        margin: 1rem;
                    }
                }
                .user-menu {
                    position: absolute;
                    background: #fff;
                    top: 48px;
                    z-index: 999;
                    border: 2px solid $primary-color;
                    width: 200px;
                    h3 {
                        color: $body-font-color;
                        text-align: center;
                        margin: 0;
                        font-weight: normal;
                    }
                    li {
                        background: #fff;
                        border: 1px solid #f1f1f1;
                        &:hover {
                            background: rgba(0, 0, 0, 0.1);
                        }
                    }
                    button {
                        background: none;
                        border-radius: none;
                        color: lighten($body-font-color, 0.3);
                        margin: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .main {
        display: flex;
        overflow-y: hidden;
        height: 100%;
        .sidebar-left {
            border-right: 2px solid $border-color;
            width: $left-sidebar-width;
        }
        .sidebar-right {
            padding: 0.8rem;
            border-left: 2px solid $border-color;
            width: $right-sidebar-width;
            .title {
                margin-bottom: 0.5rem;
            }
        }
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }
}

.messages-list {
    // min-height: min-content;
    background: $messages-list-background-color;
    padding: 20px 50px;
    flex-grow: 1;
    overflow-y: auto;
    .message {
        display: flex;
        position: relative;
        padding: 10px 20px;
        background: $message-background-color;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 1.5rem;
        border-radius: 4px;
        max-width: 100%;
        pre {
            font-family: "Microsoft Yahei", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        }
        &.me {
            .message-author {
                color: $primary-color;
            }
        }
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: -20px;
            top: 5px;
            img {
                width: 100%;
            }
        }
        .message-main {
            width: 100%;
        }
        .message-info {
            width: 100%;
            display: flex;
            line-height: 1.1;
            justify-content: space-between;
            padding: 5px;
        }
        .send-time {
            font-size: 0.7rem;
            color: $message-time-color;
        }
        .message-main {
            margin-left: 0.5rem;
        }
        .message-author {
            font-size: 0.8rem;
            color: $message-author-color;
        }
        .message-text {
            border-top: 1px solid $primary-color;
            padding: 0.5rem 0;
            p {
                margin: 0;
            }
        }
    }
}

.messenger-input {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .text-input {
        flex-grow: 1;
        textarea {
            border: 0;
            width: 100%;
            height: 100%;
            padding: 0.5rem;
            resize: none;
        }
    }
    .actions {
        .send {
            background: $primary-color;
            color: #fff;
            border: none;
            padding: 0.6rem 1rem;
            height: 100%;
        }
    }
}

.channels {
    overflow-y: auto;
    height: 100%;
    .channel {
        padding: 0.5rem 0.8rem;
        display: flex;
        justify-content: flex-start;
        border-bottom: 2px solid $border-color;
        transition: 0.3s;
        &.active {
            background: #f1f1f1;
            color: $body-font-color;
        }
        &.notify {
            .channel-info {
                p {
                    color: $primary-color!important;
                }
            }
        }
        .channel-image {
            flex-basis: 40px;
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
            .channel-avatars {
                overflow: hidden;
                width: 40px;
                height: 40px;
                position: relative;
                &.channel-avatars-1 {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &.channel-avatars-2 {
                    img {
                        width: 50%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        &:first-child {
                            left: 0;
                            top: 0;
                        }
                    }
                }
                &.channel-avatars-3 {
                    img {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        right: 0;
                        top: 0;
                        &:first-child {
                            left: 0;
                            top: 0;
                            width: 50%;
                            height: 100%;
                        }
                        &:last-child {
                            bottom: 0;
                            right: 0;
                            top: 0;
                            width: 50%;
                            height: 50%;
                        }
                    }
                }
                &.channel-avatars-4 {
                    img {
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        right: 0;
                        top: 0;
                        &:first-child {
                            left: 0;
                            top: 0;
                            width: 50%;
                            height: 50%;
                        }
                        &:nth-child(3n) {
                            right: 0;
                            bottom: 0;
                            width: 50%;
                            height: 50%;
                            top: 20px;
                        }
                        &:last-child {
                            bottom: 0;
                            left: 0;
                            top: 20px;
                        }
                    }
                }
            }
        }
        .channel-info {
            overflow: hidden;
            flex-grow: 1;
            padding: 0 0.5rem;
            h2 {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
            p {
                margin: 0;
                color: $message-time-color;
                font-size: 0.75rem;
            }
        }
    }
}

.members {
    display: flex;
    .member {
        .member-avatar {
            width: 30px;
            height: 30px;
            img {
                width: 100%;
            }
            &.offline {
                filter: grayscale(100%);
            }
        }
        .member-info {
            display: none;
        }
    }
    .member+.member {
        margin-left: 0.5rem;
    }
}